.fondo{
    /*background-color:#2ca444;*/
    background-color: #047cfc;
    color:white;
}

.titulo{
    font-size:50px;
}

.separacion{
    
    height: 1px;
    background-color: white;
}


.borderedondeado{
    border: 1px solid; 
    border-radius:100px 100px 100px 100px;
}